@tailwind base;
@tailwind components;
@tailwind utilities;

/* html, body{
    position: relative;
    height: max-content;
} */
ul li:has(a){
    align-items: center;
    display: flex;
}

svg{
    display: inline-block;
}

*{
    box-sizing: border-box !important;
    /* transition: all 0.1s ease-in-out; */
}

a{
    display: inline-block;
}

input, select, textarea{
    background: inherit;
}
input[readOnly]{
    opacity: 0.5;
}

option{
    color: yellow;
    background: black;
}